<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 一个简单的 Bean 定义，用来测试 -->
	<bean id="testBean" class="java.lang.String">
		<constructor-arg value="This is a test bean" />
	</bean>

</beans>
